.news {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 132px;
    margin-bottom: 250px;

    @media (max-width: $tablet) {
      padding-top: 43px;
    }

    @media (max-width: $mobile) {
      padding-top: 49px;
    }


    h2 {
      color: $white;
      font-size: 42px;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      place-self: start;

      margin: 0 0 52px;
      padding-left: 15px;

      @media (max-width: $tablet) {
        padding-left: 49px;
        margin-bottom: 39px;
      }

      @media (max-width: $mobile) {
        font-size: 20px;
        padding-left: 15px;
        margin-bottom: 30px;
      }
    }
  }

  &__list {
    margin-bottom: 60px;

    @media (max-width: $mobile) {
      margin-bottom: 38px;
    }
  }

  &__button {
    width: 263px;
    margin-right: 11px;
  }
}
