// font-family
$montserrat: "Montserrat", "Verdana", sans-serif;
$mulish: "Mulish", "Verdana", sans-serif;

//palette
$white: #ffffff;
$black: #000000;
$seal-brown: #131313;
$nero: #171717;
$dull: #717171;
$dim-gray: #666666;
$grey: #808080;
$pavlova: #c2ab81;

//vp
$tablet: 1024px;
$mobile: 766px;
